<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
  <!-- <h1><%= title %></h1> -->
   <p id="aboutmeintro">Getting to know more <%= title %> Me.... </p>
   <p id="aboutme">Hello! I am <b>Ruth Jocelyn De Guzman</b>, a Software Engineering student here at Centennial College winter intake. To share you a little something about me, I earned my Degree 
    in Bachelor of Science in Electronics and Communications Engineering (BSECE) from Technological University of the Philippines on March 28, 2003. 
    And on Jan'2004, I was recognized in the Philippines as a Professional Licensed Engineer after passing the ECE Board Examination. Before I land
    here in Canada to study, I've worked as an Engineer for more than a decade across multinational companies globally such as Toshiba in the 
    Philippines and Hitachi (now Western Digital),STMicroelectronics and Micron at Singapore. Because of my passion in working with data analysis 
    and coding ever since I started working, I decided to shift my career to the software field which is the reason why I am here today.
    <br><br><br>
    Allow me to share you a more deeper information about myself by clicking my Curriculum Vitae in the link below. Thank you for your time! <br>
      <a href="/Resume.pdf" width="500" height="375" type="application/pdf">Ruth DeGuzman Curriculum Vitae</a>
      <br><br>
      <img src="/Assets/images/me.jpg" />
    </p>

    

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

