<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
  <div id="homepage">
   <p>Welcome to our <%= title %> page </p>
   <p style="font-size:large"> <b>Mission:</b> This lab aims to create your own personal portfolio website using ExpressJS and implementing EJS templating engine. Explore this website by clicking the following links:</p>
      <ul style="font-size:large; list-style: none;">
         <li><a href="/home">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/Services">Services</a></li>
         <li><a href="/Projects">Projects</a></li>
         <li><a href="/Contact">Contact</a></li>
      </ul>
   </p>
   </div>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

