<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
  <h1><%= title %></h1>

<p>My completed projects from last semester are as follows:
   
   <p style="text-align: left;"><a href="http://studentweb.cencol.ca/rdeguz23/Assignment1.html">COMP213 Assignment1</a></p>
   <p style="text-align: left;"><a href="http://funwithlearning.byethost15.com/Assign2/assignment2.html">COMP213 Assignment2</a></p>
   <p style="text-align: left;"><a href="http://studentweb.cencol.ca/rdeguz23/Assignment2.html">COMP213 Bonus Assignment</a></p>
   <p style="text-align: left;"><a href="http://studentweb.cencol.ca/rdeguz23/Assignment4.html">COMP125 Assignment4</a></p>

</p>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

